*{
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html,body {
  height: 100%;
}
html {
  font-size: 62.5%;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 100vh;
  grid-template-rows: 1fr min-content;
}

.left {
  grid-column: 1/2;
  grid-row: 1/2;
  background: rgb(28, 144, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content div {
  display: flex;
  align-items: center;
  margin: 4rem;
  color: white;
}
.left-content i {
  font-size: 6rem;
  margin-right: 2rem;
}
.left-content-heading{
  font-size: 2rem;
}